<style>

.highcharts-drilldown-data-label *{
  fill: #aaa;
}
</style>

<script src="highchart/drilldown.js"></script>
<div id="bar_drill" style="min-width: 320px; height: 400px; margin: 0 auto"></div>

<script>
$(function () {
    // Create the chart
    $('#bar_drill').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '내부 장비 공격 시도 IP'
        },
        subtitle: {
            text: '국가별 공격 시도 분석 결과'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: '전체 공격자 IP 수'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: ' ',
            pointFormat: '<span style="color:{point.color}">{point.name}</span> : <b>{point.y}</b><br/>'
        },

        series: [{
            name: '국가',
            colorByPoint: true,
            data: [
              <% for(var i in bar_data4){%>{
              name: '<%=bar_data4[i].country%>',
              y: <%=bar_data4[i].count%>,
              drilldown: '<%=i%>'
            },<%}%>
            ]
        }],
        drilldown: {
<% var data0=[]; var data1=[]; var data2=[]; var data3=[]; var data4=[]; var data5=[]; var data6=[];var data7=[]; var data8=[]; var data9=[];
var a=0; var b=0; var c=0; var d=0; var e=0; var f=0; var g=0; var h=0; var j=0; var k=0;
for(var i in bar_data5){
  var len= bar_data4.length;
    if(bar_data5[i].country==bar_data4[0].country){ if(a<10){
       data0.push([bar_data5[i].srcip,bar_data5[i].num]);
   a++; }}
   lenf=1;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[1].country){ if(b<10){
      data1.push([bar_data5[i].srcip,bar_data5[i].num]);
   b++; }}
   lenf=2;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[2].country){ if(c<10){
      data2.push([bar_data5[i].srcip,bar_data5[i].num]);
   c++; }}
   lenf=3;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[3].country){ if(d<10){
      data3.push([bar_data5[i].srcip,bar_data5[i].num]);
   d++; }}
   lenf=4;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[4].country){ if(e<10){
      data4.push([bar_data5[i].srcip,bar_data5[i].num]);
   e++; }}
   lenf=5;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[5].country){ if(f<10){
      data5.push([bar_data5[i].srcip,bar_data5[i].num]);
   f++; }}
   lenf=6;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[6].country){ if(g<10){
      data6.push([bar_data5[i].srcip,bar_data5[i].num]);
   g++; }}
   lenf=7;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[7].country){ if(h<10){
      data7.push([bar_data5[i].srcip,bar_data5[i].num]);
   h++; }}
   lenf=8;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[8].country){ if(j<10){
      data8.push([bar_data5[i].srcip,bar_data5[i].num]);
   j++; }}
   lenf=9;
   if(len == lenf){continue;}
   if(bar_data5[i].country==bar_data4[9].country){ if(k<10){
      data9.push([bar_data5[i].srcip,bar_data5[i].num]);
   k++; }}
}%>
            series: [<%for(var i in bar_data4){%>
<%for(var j in bar_data4[0]){%>
            {
              name: '<%=bar_data4[0].country%>',
              id: '0',
              data: [
                <%for(var i=0; i<data0.length; i++ ){%>
                  ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data0[i][0]%>"><%=data0[i][0]%></a>',<%=data0[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[1]){%>
            {
              name: '<%=bar_data4[1].country%>',
              id: '1',
              data: [
                <%for(var i=0; i<data1.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data1[i][0]%>"><%=data1[i][0]%></a>',<%=data1[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[2]){%>
            {
              name: '<%=bar_data4[2].country%>',
              id: '2',
              data: [
                <%for(var i=0; i<data2.length; i++ ){%>
                  ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data2[i][0]%>"><%=data2[i][0]%></a>',<%=data2[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[3]){%>
            {
              name: '<%=bar_data4[3].country%>',
              id: '3',
              data: [
                <%for(var i=0; i<data3.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data3[i][0]%>"><%=data3[i][0]%></a>',<%=data3[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[4]){%>
            {
              name: '<%=bar_data4[4].country%>',
              id: '4',
              data: [
                <%for(var i=0; i<data4.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data4[i][0]%>"><%=data4[i][0]%></a>',<%=data4[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[5]){%>
            {
              name: '<%=bar_data4[5].country%>',
              id: '5',
              data: [
                <%for(var i=0; i<data5.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data5[i][0]%>"><%=data5[i][0]%></a>',<%=data5[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[6]){%>
            {
              name: '<%=bar_data4[6].country%>',
              id: '6',
              data: [
                <%for(var i=0; i<data6.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data6[i][0]%>"><%=data6[i][0]%></a>',<%=data6[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[7]){%>
            {
              name: '<%=bar_data4[7].country%>',
              id: '7',
              data: [
                <%for(var i=0; i<data7.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data7[i][0]%>"><%=data7[i][0]%></a>',<%=data7[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[8]){%>
            {
              name: '<%=bar_data4[8].country%>',
              id: '8',
              data: [
                <%for(var i=0; i<data8.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data8[i][0]%>"><%=data8[i][0]%></a>',<%=data8[i][1]%>],
                <%}%>
              ]
            },
<%break;}%>
<%for(var j in bar_data4[9]){%>
            {
              name: '<%=bar_data4[9].country%>',
              id: '9',
              data: [
                <%for(var i=0; i<data9.length; i++ ){%>
                   ['<a href="http://192.168.33.26:3000/search_ip?q=<%=data9[i][0]%>"><%=data9[i][0]%></a>',<%=data9[i][1]%>],
                <%}%>
              ]
            } <%break;}break;}%>]
        }
    });
});
</script>
