<style>
.highcharts-data-labels  *{
  fill:#ccc;
  text-shadow: 0px 0px 0px #ccc, 0px 0px 0px
}
</style>
<script src="highchart/highcharts.js"></script>
<script src="highchart/heatmap.js"></script>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- remote ajax call이 되는영역 -->
    </div>
  </div>
</div>

<div id="heatmap" style="height: 400px; min-width: 700px; max-width: 700px; margin: 0 auto"></div>
<script>
$(function () {
    var ip='<% for(var i in table_data){%><%=table_data[0].srcip%><%break;}%>';
    var lv='';
    var date='';
    var data2 = [];
    var count = -1;
    var datearr = [];
    var levelarr = [];
    <% for (var i = 0; i < heat_data.length; i++) {%>
        if(!(datearr.indexOf('<%=heat_data[i].date%>') > -1)) {
            datearr.push('<%=heat_data[i].date%>');
            count++;
        }
    <% } %>
    for(var i = 0; i < count+1; i++){
      for(var j = 0; j < 7; j++){
        data2.push([i,j,0]);
      }
    }
    count = -1;
    datearr=[];
    <% for (var i = 0; i < heat_data.length; i++) {%>
        if(!(datearr.indexOf('<%=heat_data[i].date%>') > -1)) {
            datearr.push('<%=heat_data[i].date%>');
            count++;
        }
        data2[count*7+<%=heat_data[i].level%>]
         = [count,<%=heat_data[i].level%>,<%=heat_data[i].num%>];
    <% } %>

    $('#heatmap').highcharts({

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80,
            plotBorderWidth: 1
        },
        plotOptions: {
            series: {
                cursor: 'pointer',
                events: {
                  click: function () {
var url = 'search_ip_ajax?ip='+ip+'&lv='+lv.toString()+'&date='+date;
window.open(url, "_blank");
                   }
                }
            }
        },

        title: {
            text: '공격 단계별 히트맵'
        },

        xAxis: {
            categories: datearr
        },

        yAxis: {
            categories: ['기타','1단계', '2단계', '3단계', '4단계', '5단계', '6단계'],
            title: null
        },

        colorAxis: {
            min: 0,
            minColor: '#444444',
            maxColor: Highcharts.getOptions().colors[0]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                date= this.series.xAxis.categories[this.point.x];
                lv=this.series.yAxis.categories[this.point.y][0];
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> <br><b>' +
                    this.point.value + '</b>번의 공격 시도 <br>' + this.series.yAxis.categories[this.point.y] ;
            }
        },

        series: [{
            name: '',
            borderWidth: 1,
            data: data2,
            dataLabels: {
                enabled: true,
                color: '#000000'
            }

        }]

    });
});
</script>
