<style>
.highcharts-data-labels  *{
  fill:#ccc;
  text-shadow: 0px 0px 0px #ccc, 0px 0px 0px 
}
</style>
<script src="highchart/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>


<div id="heatmap" style="height: 400px; min-width: 700px; max-width: 700px; margin: 0 auto"></div>
<script>
$(function () {

    var data2 = [];
    var count = -1;
    var datearr = [];
    var levelarr = [];
    <% for (var i = 0; i < heat_data.length; i++) {%>
        if(!(datearr.indexOf('<%=heat_data[i].date%>') > -1)) {
            datearr.push('<%=heat_data[i].date%>');
            count++;
        }
    <% } %>
    for(var i = 0; i < count+1; i++){
      for(var j = 0; j < 7; j++){
        data2.push([i,j,0]);
      }
    }
    count = -1;
    datearr=[];
    <% for (var i = 0; i < heat_data.length; i++) {%>
        if(!(datearr.indexOf('<%=heat_data[i].date%>') > -1)) {
            datearr.push('<%=heat_data[i].date%>');
            count++;
        }
        data2[count*7+<%=heat_data[i].level%>]
         = [count,<%=heat_data[i].level%>,<%=heat_data[i].num%>];
    <% } %>
    console.log(data2);


    $('#heatmap').highcharts({

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 80,
            plotBorderWidth: 1
        },


        title: {
            text: '공격 단계별 히트맵'
        },

        xAxis: {
            categories: datearr
        },

        yAxis: {
            categories: ['기타','1단계', '2단계', '3단계', '4단계', '5단계', '6단계'],
            title: null
        },

        colorAxis: {
            min: 0,
            minColor: '#444444',
            maxColor: Highcharts.getOptions().colors[0]
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> sold <br><b>' +
                    this.point.value + '</b> items on <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },

        series: [{
            name: 'Sales per employee',
            borderWidth: 1,
            data: data2,
            dataLabels: {
                enabled: true,
                color: '#000000'
            }
        }]

    });
});
</script>
