<style>
#container1 {
    height: 430px;
    width: 725px;
    margin: 0 auto;
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}
</style>
<script src="highchart/highstock.js"></script>
<script src="highchart/exporting.js"></script>


<div id="container1" style="height: 400px; min-width: 310px"></div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
      var seriesOptions = [],
           seriesCounter = 0;

      var ipsarr = [];
      var wafarr = [];
      var mailarr = [];
      var webarr = [];

      console.log(<%=line_data_dash.length%>);
      <%for (var i = 0; i < line_data_dash.length; i++) {%>

          <%if(line_data_dash[i].eq == "IPS") {%>
                ipsarr.push([<%=line_data_dash[i].ts%>, <%=line_data_dash[i].num%>]);
          <%} %>
          <%if(line_data_dash[i].eq == "WAF") {%>
                wafarr.push([<%=line_data_dash[i].ts%>, <%=line_data_dash[i].num%>]);
          <%} %>
          <%if(line_data_dash[i].eq == "mail") {%>
                mailarr.push([<%=line_data_dash[i].ts%>, <%=line_data_dash[i].num%>]);
          <%} %>
          <%if(line_data_dash[i].eq == "web_access") {%>
                webarr.push([<%=line_data_dash[i].ts%>, <%=line_data_dash[i].num%>]);
          <%} %>
      <%} %>


       /**
        * Create the chart when all data is loaded
        * @returns {undefined}
        */
       function createChart() {

           $('#container1').highcharts('StockChart', {

               rangeSelector: {
                   selected: 4
               },

               yAxis: {
                   labels: {
                       formatter: function () {
                           return (this.value > 0 ? ' + ' : '') + this.value + '%';
                       }
                   },
                   plotLines: [{
                       value: 0,
                       width: 2,
                       color: 'silver'
                   }]
               },

               plotOptions: {
                   series: {
                       compare: 'percent'
                   }
               },

               tooltip: {
                   pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                   valueDecimals: 0
               },

               series: seriesOptions
           });
       }
       seriesOptions[0] = {
           name: "IPS",
           data: ipsarr
      };
      seriesOptions[1] = {
           name: "WAF",
           data: wafarr
      };

      seriesOptions[2] = {
           name: "web_access_log",
           data: webarr
      };
      seriesOptions[3] = {
           name: "mail",
           data: mailarr
      };
       createChart();

});
</script>
<script type="text/javascript" src="highchart/dark-unica.js"></script>
