<style>
.highcharts-title * {
  font-family: "Dotum";
}

.highcharts-drilldown-data-label * {
  fill: #aaa;
}

</style>

<script src="highchart/highstock.js"></script>
<script src="highchart/drilldown.js"></script>

<div id="container3" style="min-width: 320px; max-width: 610px; height: 350px; margin: 0 auto"></div>

<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->

<script>

document.addEventListener("DOMContentLoaded", function(event) {
    $('#container3').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: 'IP 및 공격 분석 결과'
        },
        subtitle: {
            text: ''
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: false,
                    format: '{point.name}<br>{point.country}'

                }
            },
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b>번의 공격 시도<br/>'
        },
        series: [{
            name: 'IP',
            colorByPoint: true,
            data: [
              <% for (i in top_ip_data){ %>
              {
                name: '<%= top_ip_data[i].srcip%>',
                y: <%= top_ip_data[i].count%>,
                drilldown: '<%= top_ip_data[i].srcip%>',
                country: '<%= top_ip_data[i].country%>'
              },
              <%}%>
        ]}],
        drilldown: {
            series: [
              <% for(i in attack1_data){ %>{
                name: '<%= attack1_data[0].srcip%>',
                id: '<%= attack1_data[0].srcip%>',
                data: [
                  <% for(i in attack1_data){ %>
                    ['<%=attack1_data[i].attack_name%>', <%=attack1_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack2_data){ %>{
                name: '<%= attack2_data[0].srcip%>',
                id: '<%= attack2_data[0].srcip%>',
                data: [
                  <% for(i in attack2_data){ %>
                    ['<%=attack2_data[i].attack_name%>', <%=attack2_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack3_data){ %>{
                name: '<%= attack3_data[0].srcip%>',
                id: '<%= attack3_data[0].srcip%>',
                data: [
                  <% for(i in attack3_data){ %>
                    ['<%=attack3_data[i].attack_name%>', <%=attack3_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack4_data){ %>{
                name: '<%= attack4_data[0].srcip%>',
                id: '<%= attack4_data[0].srcip%>',
                data: [
                  <% for(i in attack4_data){ %>
                    ['<%=attack4_data[i].attack_name%>', <%=attack4_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack5_data){ %>{
                name: '<%= attack5_data[0].srcip%>',
                id: '<%= attack5_data[0].srcip%>',
                data: [
                  <% for(i in attack5_data){ %>
                    ['<%=attack5_data[i].attack_name%>', <%=attack5_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack6_data){ %>{
                name: '<%= attack6_data[0].srcip%>',
                id: '<%= attack6_data[0].srcip%>',
                data: [
                  <% for(i in attack6_data){ %>
                    ['<%=attack6_data[i].attack_name%>', <%=attack6_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack7_data){ %>{
                name: '<%= attack7_data[0].srcip%>',
                id: '<%= attack7_data[0].srcip%>',
                data: [
                  <% for(i in attack7_data){ %>
                    ['<%=attack7_data[i].attack_name%>', <%=attack7_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack8_data){ %>{
                name: '<%= attack8_data[0].srcip%>',
                id: '<%= attack8_data[0].srcip%>',
                data: [
                  <% for(i in attack8_data){ %>
                    ['<%=attack8_data[i].attack_name%>', <%=attack8_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack9_data){ %>{
                name: '<%= attack9_data[0].srcip%>',
                id: '<%= attack9_data[0].srcip%>',
                data: [
                  <% for(i in attack9_data){ %>
                    ['<%=attack9_data[i].attack_name%>', <%=attack9_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%><% for(i in attack10_data){ %>{
                name: '<%= attack10_data[0].srcip%>',
                id: '<%= attack10_data[0].srcip%>',
                data: [
                  <% for(i in attack10_data){ %>
                    ['<%=attack10_data[i].attack_name%>', <%=attack10_data[i].count%> ],
                  <%}%>
                ]
              },<%break;}%>
            ]
        }
    });
});

</script>
<script src="highchart/dark-unica.js"></script>
