<%layout('../layout')%>
<style>
/**********  ACCORDION **********/

</style>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
$(".mod").click(function(){
    $('.modal').modal({remote : '/modal?sd=<%=sDay%>&dd=<%=dDay%>'});
})
});
function submit(){
    document.forms["aform"].submit();
}
</script>
<%
function comma(str) {
    return str.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}
%>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- remote ajax call이 되는영역 -->
    </div>
  </div>
</div>
<div id="page-wrapper">
  <br><ul class="accordion">
          <button class="accordion-control">검색 기간 설정 및 통계 정보</button>
          <div class="accordion-panel">
            <div class="col-lg-4 ">
                  <!-- small box -->
                  <div class="small-box bg">
                    <div class="inner">
                      <h3>로그 검색 기간</h3>
                      <p><table><tr><form id="aform" role="form" action="/dashboard" method="post">
                        <td><input type="text" name="start_date" class="form-control date" placeholder="<%=sDay%>"></td>
                        <td>　~　</td>
                        <td><input type="text" name="end_date" class="form-control date" placeholder="<%=dDay%>"></span></td>
                        <td>　</td><td><a href="#"  onclick="submit();" class="btn btn-default">검색</a></form></td>
                      </tr></table></p>
                    </div>
                  </div>
              </div><!-- ./col -->

            <div class="col-lg-2 col-xs-1">
                  <!-- small box -->
                  <div class="small-box bg-aq">
                    <div class="inner">
                      <h3>총 로그 건 수</h3>
                      <p><%var a=0; a= nums[0].num+ nums[1].num+ nums[2].num+ nums[3].num+ nums[4].num%><%=comma(a)%></p>
                    </div>
                  </div>
              </div><!-- ./col -->
              <div class="col-lg-2 col-xs-1">
                    <!-- small box -->
                    <div class="small-box bg-aq">
                      <div class="inner">
                        <h3>IPS 로그 건 수</h3>
                       <p><%=comma(nums[0].num)%></p>
                      </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-2 col-xs-1">
                      <!-- small box -->
                      <div class="small-box bg-aq">
                        <div class="inner">
                          <h3>WAF 로그 건 수</h3>
                          <p id='aa'><%=comma(nums[1].num)%> </p>
                        </div>
                      </div>
                  </div><!-- ./col -->
                  <div class="col-lg-2 col-xs-1">
                        <!-- small box -->
                        <div class="small-box bg-aq">
                          <div class="inner">
                            <h3 class='mod'>기타 로그 건 수</h3>
                            <p class='mod'><%var a=0; a=nums[2].num+ nums[3].num+ nums[4].num%><%=comma(a)%></p>
                          </div>
                        </div>
                    </div><!-- ./col -->
                  </div>
  </ul>
  <br>

  <div class="row">
    <section class="col-lg-6 connectedSortable">
      <% include ../highchart/line1 %>
    </section>
    <section class="col-lg-6 connectedSortable">
      <% include ../highchart/map1 %>
    </section>
  </div>
  <br>
  <div class="row">
    <section class="col-lg-4 connectedSortable">
      <% include ../highchart/pie_new1 %>
    </section>
    <section class="col-lg-4 connectedSortable">
      <% include ../highchart/pie2 %>
    </section>
    <section class="col-lg-4 connectedSortable">
      <% include ../highchart/bar_drill %>
    </section>
  </div>
  <br><br>
	<!-- /.row -->
</div>
<link rel="stylesheet" href="bower_components/jquery/dist/jquery-ui.min.css" />
<!-- d3 -->
<script src="../js/init.js"></script>
<script src="../js/accordion.js"></script>
<script src="bower_components/jquery/dist/jquery-ui.min.js"></script>
