<%layout('../layout')%>
<style>
.modal.in .modal-dialog {
    transform: translate(-250px, 0px);
}

a {
  color: #E0E0E3;
}
p {
    margin: 0px 0px 1.5px;
}
.navbar-brand{
  color: #ffffff;
}
.modal-backdrop.in {
    opacity: 0.7;
}
.modal-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    background-color: #000;
}
.modal {
  background: transparent none;
}
.modal-content {
  box-shadow: 10px 20px 20px #444;
  background-color: #333;
  fill: #000;
  border-radius: 1px;
  color: #eee;
  width: 1100px;
}
.modal-header {
    border-bottom: 2px solid #444;
}

table.sortable th:hover {
	cursor: pointer;}

th.ascending, th.descending, table.sortable th:hover {
	background-color: #cccccc;
	color: #fff;
  color: #000;
}
</style>

<div class="modal-header">
    <!-- 닫기(x) 버튼 -->
  <!-- header title -->
  <h4 class="modal-title">조회 결과</h4>
</div>
<!-- body -->
<div class="modal-body">
  <table class="sortable table table-inverse table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th data-sort="name">탐지장비</th>
        <th data-sort="name">공격단계</th>
        <th data-sort="name">공격명</th>
        <th data-sort="name">시간</th>
        <th data-sort="name">출발지 IP</th>
        <th data-sort="name">목적지 IP</th>
        <th data-sort="name">출발지 Port</th>
        <th data-sort="name">목적지 Port</th>
        <th data-sort="name">국가</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i in table_data){%>
        <tr>
          <td><%=table_data[i].equip%></td>
          <td><%if(table_data[i].level=='0'){table_data[i].level='기타';}%><%=table_data[i].level%></td>
          <td><%=table_data[i].attackName%></td>
          <td><%=table_data[i].time2%></td>
          <td><%=table_data[i].srcip%></td>
          <td><%=table_data[i].dstip%></td>
          <td><%=table_data[i].srcport%></td>
          <td><%=table_data[i].dstport%></td>
          <td><%=table_data[i].country_code%></td>
        </tr>
      <%}%>
    </tbody>
  </table>

</div>
<!-- Footer -->
</div>

<!-- /#page-wrapper -->
<!-- script -->
<script src="../js/sortable.js"></script>
